In [20]:
"""
1. which of them are values or an expression?
expressions : *,-,/,+
Values : 'hello',-87.8,6
"""

"\n1. which of them are values or an expression?\nexpressions : *,-,/,+\nValues : 'hello',-87.8,6\n"

In [21]:
"""
2. difference between string and variable?
String is data type while variable is the place holder(reference) of data stored.
"""

'\n2. difference between string and variable?\nString is data type while variable is the place holder(reference) of data stored.\n'

In [22]:

#3. Data types: int, float, string, bool.

'\n3. Data types: int, float, string, bool.\n'

In [23]:
#4. expression is made of values and operators, all expressions evaluate to a single value.

In [24]:
#5. An expression evaluates to a value while statement doesn't.

In [7]:
6. bacon = 22
bacon + 1
#value of bacon is 22

22

In [13]:
7. 'spam' + 'spamspam'
'spam'*3
#both evaluates to 'spamspamspam

'spamspamspam'

In [25]:
#8. 100 is invalid variable name as it starts with '1' a number.

In [26]:
#9. int(),float(),str() are the three built in functions used for type casting.

In [18]:
10. #'i have eaten'+ 99 +'burritos' , string can't be concantenated with int so convert 99 to string 
'i have eaten '+ str(99) +' burritos'

'i have eaten 99 burritos'